.button {
    background-color: var(--blue-300);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: var(--normal-font);
    font-weight: 500;
    cursor: pointer;
    transition: filter 0.2s;
    height: 52px;
    width: 90px;
}