.input {
    background-color: var(--gray-500);
    padding: 1rem;
    border-radius: 8px;
    border: 0;
    outline: none;
    width: 736px;
    border: 1px solid transparent;
}

.input::placeholder {
    color: var(--gray-300);
}

.input:focus {
    border: 1px solid var(--purple-300);
}

.input:hover {
    border: 1px solid var(--purple-200);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: -7rem;
}

/* Mobile */
@media (max-width: 767px) {
    .container {
        flex-direction: row;
    }

    .input {
        margin-bottom: 10px;
        width: 80%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        flex-direction: row;
    }

    .input {
        width: 80%;
    }
}